--- arch/arm/mach-msm/Kconfig	2013-06-24 02:50:48.000000000 -0600
+++ arch/arm/mach-msm/Kconfig	2013-08-01 23:38:05.000000000 -0600
@@ -146,6 +146,7 @@
 	select MSM_RUN_QUEUE_STATS
 	select ARM_HAS_SG_CHAIN
 	select MSM_KRAIT_WFE_FIXUP
+	select MSM_IOMMU_GPU_SYNC
 
 config ARCH_MSM8930
 	bool "MSM8930"
@@ -458,6 +459,10 @@
         default n
         bool "HTC Performance Lock"
 
+config DEBUG_KSWAPD
+        default n
+        bool "HTC Debug Kswapd busy"
+
 config PERFLOCK_FIX_UP
         depends on CPU_FREQ
         depends on PERFLOCK
@@ -2676,23 +2681,23 @@
 	help
 	  Support for the HTC APQ8064 MONARUDO.
 
-config MACH_M7_UL
+config MACH_DELUXE_J
         depends on ARCH_APQ8064
-        bool "APQ8064 M7_UL"
+        bool "APQ8064 DELUXE_J"
         help
-          Support for the HTC APQ8064 M7_UL.
+          Support for the HTC APQ8064 DELUXE_J.
 
-config MACH_M7_DXG
+config MACH_IMPRESSION_J
         depends on ARCH_APQ8064
-        bool "APQ8064 M7_DXG"
+        bool "APQ8064 IMPRESSION_J"
         help
-          Support for the HTC APQ8064 M7_DXG.
+          Support for the HTC APQ8064 IMPRESSION_J.
 
-config MACH_T6_DXG
+config MACH_M7_UL
         depends on ARCH_APQ8064
-        bool "APQ8064 T6_DXG"
+        bool "APQ8064 M7_UL"
         help
-          Support for the HTC APQ8064 T6_DXG.
+          Support for the HTC APQ8064 M7_UL.
 
 config QSC_MODEM
         default n
@@ -2755,5 +2760,10 @@
 	  stand alone power collapse operation. Selecting this option
 	  ensures that they are always off.
 
+config QUALCOMM_WLAN_PXO
+	default n
+	bool "Use PXO for WLAN clock source"
+	help
+	  Use PXO for clock source of WLAN chip
 endif
 
